<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/raphael.js"></script>
<script type="text/javascript" src="/morris.js"></script>

<script type="text/javascript">
  $(function() {
    $("h3").click(function() {
      parseJSON($(this).siblings().first().text())
    })
  });
</script>

<style type="text/css">
  .hidden {
    display: none;
  }
  li {
    width: 50%;
    float: left;
    display: inline;
    list-style: none;
  }
</style>
<body>
<ul>
  <% @reports.each do |stat| %>
    <li>
      <h3><%= stat.name %></h3>
      <div class="graph" id="<%= stat.name.gsub(' ', '_') %>">

      </div>
      <script type="text/javascript">
        Morris.Line({
          element: <%= stat.name.gsub(' ', '_') %>,
          data: <%= stat.to_morris_data %>,
          xkey: 'x',
          ykeys: ['y'],
          labels: ['<%= stat.name %>']
        });

      </script>
    </li>

  <% end %>
</ul>
</body>
</html>